# Archivos de salida de compilación (Pesan mucho y se generan solos)
build/
bin/

# Dependencias y herramientas de Dart
.dart_tool/
.packages
.pub-cache/
.pub/
pubspec.lock

# Archivos específicos de Android
.gradle/
local.properties
*.keystore
*.jks
captures/
gen/

# Archivos específicos de iOS/macOS
.generated/
DerivedData/
build/
*.moved-aside
*.dict
*.plist
!/ios/Runner/Info.plist
!/ios/Runner/GoogleService-Info.plist

# Archivos de configuración de editores (VS Code, IntelliJ, Android Studio)
.idea/
*.iml
*.iws
.vscode/
*.sublime-project
*.sublime-workspace

# Logs y archivos temporales
*.log
*.mode1v3
*.mode2v3
*.perspectivev3
